Django==1.7.1
Fabric==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
PyYAML==3.11
Pygments==2.0.1
Sphinx==1.2.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
boto==2.34.0
celery==3.1.17
cssmin==0.2.0
diff-match-patch==20121119
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==0.6
django-celery==3.1.16
django-compressor==1.4
django-cors-headers==0.13
django-debug-toolbar==1.2.2
django-imagekit==3.2.4
django-import-export==0.2.6
django-rest-swagger==0.2.5
django-storages==1.1.8
django-suit==0.2.12
django-taggit==0.12.2
django-toolbelt==0.0.1
djangorestframework==3.0.1
docutils==0.12
ecdsa==0.11
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.1.1
jsmin==2.0.11
kombu==3.0.24
newrelic==2.40.0.34
oauthlib==0.7.2
paramiko==1.15.1
pilkit==1.1.12
psycopg2==2.5.4
pycrypto==2.6.1
pytz==2014.10
requests==2.5.0
requests-oauthlib==0.4.2
setproctitle==1.1.8
six==1.8.0
sqlparse==0.1.14
static3==0.5.1
tablib==0.10.0
wsgiref==0.1.2
awsebcli==3.0.10